@using Burger.DATA.Concrete
@model Cart
@{
    Layout = "_Layout";
}

<div class="shopping-cart">
    <h2>Alışveriş Sepeti</h2>
    <ul>
        @foreach (Menu item in Model.Menus)
        {
            <li>@item.Name - @item.Price</li>
        }
    </ul>
</div>