@using Burger.DATA.Concrete
@model List<Extra>

<div class="container">
    <div class="row justify-content-end">
        <div class="col-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Ekstra Adı</th>
                        <th scope="col">Açıklama</th>
                        <th scope="col">Fiyat</th>
                        @* <th scope="col">Price</th> *@
                        <th scope="col">Status</th>
                        <th scope="col">Güncelle / Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (Extra item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Name</th>
                                <td>@item.Description</td>
                                <td>@item.Price ₺</td>
                                <td>@item.Status</td>
                                <td>
                                    <a class="btn btn-success" asp-route-id=@item.Id asp-controller="CrudExtra" asp-action="Update">Güncelle</a>
                                    <a class="btn btn-danger" asp-route-id=@item.Id asp-controller="CrudExtra" asp-action="Delete">Sil</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <a class="btn btn-primary" asp-controller="CrudExtra" asp-action="Create">Ekstra Ekle</a>
        </div>
    </div>
</div>
