@model ConfirmationCodeVm
@{
    Layout = "_Layout";
    ViewData["Title"] = "Confirmation";
}

<br />
<br />
<br />
<br />
<br />
<form method="post" asp-action="Confirmation" asp-controller="Home">
    <div class="form-group">
        <label asp-for="ConfirmationCode" class="control-label"></label>
        <input asp-for="ConfirmationCode" class="form-control" />
        <span asp-validation-for="ConfirmationCode" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Onayla" class="btn btn-primary" />
    </div>
</form>
