@using Burger.SERVICE.Services.ShoppingCartService
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        @await Component.InvokeAsync("ShoppingCart")
    </div>

}
