@model ShoppingCartVM
@{
    Layout = "";
}
<div class="shopping-cart">
    <h2>Alışveriş Sepeti</h2>
    <ul>
        @foreach (CartItem item in Model.CartItems)
        {
            if(item.Photo is not null)
            {
                // fotonun html tagı buraya gelecek
            }
            <li>@item.Name - @item.Quantity</li>
        }
    </ul>
    <p>Toplam Fiyat: @Model.TotalPrice</p>
</div>